<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="row" style="margin-left: 1%;">
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>Select</mat-label>
            <mat-select [(value)]="selected">
              <mat-option>None</mat-option>
              <mat-option value="option1">Trek Name</mat-option>
              <mat-option value="option2">City</mat-option>
              <mat-option value="option3">Country</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter your value">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Trek date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <button mat-raised-button type="submit" class="btn btn-info pull-right">Search</button>
        <button mat-raised-button type="submit" class="btn pull-right">Clear</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title ">Users</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    <div class="row">
                      <div class="col-md-4">
                        ID
                      </div>
                      <div class="form-check col-md-4">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="" checked>
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                    </div>
                  </th>
                  <th>Trek Name</th>
                  <th>Trek Date</th>
                  <th>Number of Tickets</th>
                  <th>Regular Price</th>
                  <th>Early Bird Price</th>
                  <th>Dynamic Price</th>
                  <th>Insurance</th>
                  <th>Plant Tree</th>
                </thead>
                <tbody *ngFor="let item of trekList">
                  <tr>
                    <td>
                      <div class="row">
                        <div class="col-md-4">
                          {{item.id}}
                        </div>
                        <div class="form-check col-md-4">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" checked>
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                        <div class="col-md-4">
                          <a [routerLink]="['/edituser']"><i class="material-icons">edit</i></a>
                        </div>
                      </div>
                    </td>
                    <td>{{item.trekName}}</td>
                    <td>{{item.trekDate}}</td>
                    <td>{{item.ticket}}</td>
                    <td>{{item.regularPrice}}</td>
                    <td>{{item.earlyBird}}</td>
                    <td>{{item.dynamicPrice}}</td>
                    <td>{{item.insurance}}</td>
                    <td>{{item.plantTree}}</td>
                  </tr>
                </tbody>
              </table>

              <mat-paginator [length]="trekList.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
              </mat-paginator>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <a [routerLink]="['/#']" class="btn btn-info pull-right" style="color: white;">Add</a>
              <a class="btn btn-info pull-right" style="color: white;">Delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>