<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://accordify.co.in/" target="_blank">
                        A product of Accordify Solutions
                    </a>
                </li>
                <li>
                    <a href="https://www.plantheunplanned.com/" target="_blank">
                        Plan The Unplanned
                    </a>
                </li>                
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://accordify.co.in/" target="_blank">Accordify Solution</a> for a better web.
        </div>
    </div>
</footer>
